
.main {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height: 100vh;
     color: var(--letras-color2);
     z-index: 0;
     background: transparent;
}