.usuarios {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: var(--fondo1);
     width: 100%;
     color: var(--letras-color1);
     z-index: 1;
}

.usuarios h1 {
     font-size: 1.5rem;
     font-weight: 600;
     margin-bottom: 0.25rem;
     color: var(--fondo2);
}

.usuarios ul {
     list-style: none;
     padding: 0px;
     margin: 0px;
     gap: 10px;
     background-color: transparent;
}

.lista {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
     grid-row: auto;
     gap: 1.5rem;
     padding: 2rem;
}

.usuarios-container {
     background-color: var(--fondo4);
     border: 1px solid #ddd;
     border-radius: 12px;
     box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
     padding: 1rem;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     cursor: pointer;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}

.info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 1.2rem;
     gap: 2px;
}

.usuarios-button {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}

.img {
     width: 100%;
     height: 180px;
     object-fit: cover;
     border-radius: 8px;
     margin-bottom: 0.75rem;
}

.paginador {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}