.not-found {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100vh;
     max-height: 100vh;
}

.not-found-conteiner {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     opacity: 0;
     padding: 2%;
     transform: translateY(50px);
     animation: aparecer 1.5s ease-out forwards;
     font-size: 2.5rem;
     overflow: hidden;
}

.not-found-error {
     color: var(--letras-color3);
     margin: 10px;
}

.not-found-sub {
     color: var(--letras-color3);
     margin: 0;
     font-size: 1.5rem;
     margin-bottom: 25%;
}

.not-found-link {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
     color: var(--letras-color3);
}

.not-found-link::after {
     content: "";
     position: absolute;
     bottom: -2px;
     width: 0;
     height: 2px;
     background-color: var(--letras-color2);
     transition: width 0.3s ease-in-out;
}

.not-found-link:hover {
     color: var(--letras-color2);
     transition: color 0.3s ease-in-out;
}

.not-found-link:hover::after {
     width: 100%;
}


@media (max-width: 37.5em) {
     
}

@media (min-width: 37.6em) and (max-width: 64em) {
}

@media (min-width: 64.1em) {
     .not-found-conteiner {
          box-shadow: 0 8px 16px rgba(0,0,0,0.5);
          border-radius: 50px;
          background-color: rgba(0, 0, 0, 0.25);
     }
}