:root {
    --letras-color1: #3e016a;
    --letras-color2: #9500ff;
    --letras-color3: #f8f8fa;
    --letras-color4: #000000;

    --extra1: #aaa;
    --extra2: #333;

    --letras-link: 20px;
    --letras-title: 25px;
    --letras-subtitle: 20px;
    --letras-parrafo: 15px;

    --letras-tipo1: 'Poppins', sans-serif;
    --letras-tipo2: 'Roboto', sans-serif;

    --fondo1: #3e016a;
    --fondo2: #9500ff;
    --fondo3: #f8f8fa;
    --fondo4: #000000;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at 50% 10%, var(--fondo1), var(--fondo4));
}

button {
    padding: 0.75rem 1.5rem;
    margin: 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    background-color: var(--fondo1);
    color: var(--fondo4);
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
}

button:hover {
    background-color: var(--fondo2);
}

input {
    width: 20%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    background-color: var(--fondo1);
    color: var(--extra2);
    margin: 20px;
}

input::placeholder {
    color: var(--extra);
}

input:focus {
    border-color: var(--fondo1);
    box-shadow: 0 0 0 3px rgba(0, 119, 255, 0.2);
}